{% extends 'app/base.html' %}
{% load static %}

{% block content %}
    <div class="root">
    <center>
   <h1>Welcome to Good &#9829; Lashes,Good &#9829; Mood</h1>
    <p>Don't be afraid of what others think of your new look:</p>
        <p>embrace it with open arms and an entire face full of lashes.</p>
        <p> and your Lashes are the secret weapon that makes your eyes pop.</p>
 <img class="mylogo" src="{% static 'images/beauty..jpg' %}">
    </center>
    </div>
{% endblock content %}



