h1{
    color: #594545;
}

.mylogo {
    height: 500px;
    width: auto;

}
.root{
    background-color: #EECAD5;
}
.my{
    height: 300px;
    width: 500px;
}
.color{
    background-color: #EECAD5;
}